.sitemap {
  border-radius: 5px;
  font-family: Arial, sans-serif;
  text-align: center;
  min-height: 50vh;

  h1 {
    margin-bottom: 40px;
  }

  a {
    padding: 0px 10px 0px 10px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      margin-bottom: 12px;
      margin: 0 12px 12px 0;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 1px;
        background-color: #000000;
      }

      &:last-child::before {
        display: none;
      }
    }
  }
}
