.coupon {
<<<<<<< Updated upstream
  border: 1px solid #ccc;
  padding: 5px;
  // display: flex;
  // flex-wrap: wrap;
  margin: 10px;
  max-width: 200px;

  img {
    max-width: 100%;
  }

  p {
    font-size: 16px;
  }

  button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
}
=======
    border: 1px solid #ccc;
    padding: 10px;
    // display: flex;
    // flex-wrap: wrap;
    margin: 10px;
    max-width: 300px;
  
    h3 {
      font-size: 20px;
    }
  
    p {
      font-size: 16px;
    }
  
    button {
      background-color: #007bff;
      color: #fff;
      padding: 5px 10px;
      border: none;
      cursor: pointer;
    }
  }
  
>>>>>>> Stashed changes
