.dashboard {

  .productListContainer {
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #f4f3ef;
    display: flex;
    flex-direction: column;
    height: 100vh;

    #productListHeading {
      font: 400 2rem "Roboto";
      margin-top: 30px;
      box-sizing: border-box;
      color: rgba(0, 0, 0, 0.637);
      transition: all 0.5s;
      text-align: center;
    }

    .order-section {
      padding: 20px;

      .search-bar {
        margin-bottom: 20px;
        background-color: transparent;

        input {
          width: 100%;
          padding: 10px;
          background-color: transparent;
          border: 1.3px solid #a8a8a8;
          border-radius: 4px;
        }
      }

      .order-categories {
        display: flex;
        margin-bottom: 20px;

        button {
          flex: 1;
          padding: 10px;
          background-color: #fff;
          color: black;
          border: 1px solid #ccc;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.2s;

          &:not(:last-child) {
            margin-right: 10px;
          }

          &.active {
            background-color: #231918;
            color: #fff;
          }
        }
      }

      hr {
        border: none;
        border-top: 1px solid #ccc;
        margin-bottom: 20px;
      }

      .order-list {
        .order-item {
          display: flex;
          justify-content: space-between;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          margin-bottom: 20px;
          background-color: #fff;

          .order-details {
            flex: 1;
            display: flex;
            justify-content: space-between;

            .order-info,
            .order-status {
              flex: 1;
              p {
                margin: 0;
              }
            }
          }

          .product-details {
            flex: 1;
            display: flex;
            align-items: center;

            img {
              max-width: 100px;
              margin-right: 10px;
            }
          }

          .order-actions {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            button {
              margin-bottom: 10px;
              padding: 5px 10px;
              background-color: transparent;
              color: #000000;
              border: 1px solid black;
              border-radius: 4px;
              cursor: pointer;
              transition: background-color 0.2s;

              &:hover {
                background-color: #231918;
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}
