.footer {
  background-color: #e8e4df;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px 0px;
  flex-direction: column;

  .footer-line{
    max-width: 1000px;
    ul{
        display:flex;
        gap: 10px 20px;
        justify-content: center;
        font-family: "Montserrat";
        font-size: 14px;
        flex-wrap: wrap;
    }
  }


  .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px 30px;
   
    .icon {
      font-size: 20px;
      color: #000000;
      cursor: pointer;


      &:hover {
        color: #503b00;
      }
    }
  }

  .contact-info {
    text-align: center;
    p {
      font-size: 14px;
      margin: 5px 0;
      font-family: "Montserrat";
    }
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 10px;
  }
}