.storelocator {
  //   min-height: 100vh;
  .banner {
    .hero__container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
  .store-locator-container {
    display: flex;
  }

  .search-bar {
    // Search bar styles
  }

  .store-details {
    width: 300px; // Adjust as needed
    padding: 20px;
  }

  .store-accordion {
    // Accordion styles
  }

  .map-container {
    flex: 1;
    // Map container styles
  }
}
